.header {
    background-color: #f8f9fa;
    color: #333;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    z-index: 114514;
}

body {
    padding-block-start: 80px;
}

.titles {
    font-size: 25px;
}

#email {
    background-color: #ffffda;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
};

h1, p {
    text-align: center;
};

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 10px;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #df3939;
}

.button1:hover {
    background-color: #df3939;
    color: white;
}

.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #c6e3ff;
}

.button2:hover {
    background-color: #c6e3ff;
    color: white;
}

.button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #dddd3a;
}

.button3:hover {
    background-color: #dddd3a;
    color: white;
}

.button4 {
    background-color: white; 
    color: black; 
    border: 2px solid #20bd20;
}

.button4:hover {
    background-color: #20bd20;
    color: white;
}

.button5 {
    background-color: white; 
    color: black; 
    border: 2px solid #a020bd;
}

.button5:hover {
    background-color: #a020bd;
    color: white;
}

.button6 {
    background-color: white; 
    color: black; 
    border: 2px solid #47ffed;
}

.button6:hover {
    background-color: #47ffed;
    color: white;
}

.button7 {
    background-color: white; 
    color: black; 
    border: 2px solid #ff47ce;
}

.button7:hover {
    background-color: #ff47ce;
    color: white;
}

.button8 {
    background-color: white; 
    color: black; 
    border: 2px solid #4787ff;
}

.button8:hover {
    background-color: #4787ff;
    color: white;
}

.button9 {
    background-color: white; 
    color: black; 
    border: 2px solid #ff6b6b;
}

.button9:hover {
    background-color: #ff6b6b;
    color: white;
}

.button10 {
    background-color: white; 
    color: black; 
    border: 2px solid #6bff6b;
}

.button10:hover {
    background-color: #6bff6b;
    color: white;
}

.button11 {
    background-color: white; 
    color: black; 
    border: 2px solid #956bff;
}

.button11:hover {
    background-color: #956bff;
    color: white;
}

.color {
    inline-size: 60px;
    block-size: 60px;
    border-radius: 25%;
    border: none;
    cursor: pointer;
}

.progress {
    accent-color: #68bc68;
}

.slider {
    accent-color: #7c69bf;
}

.copy {
    cursor: pointer;
}

.emoji {
    font-size: 45px;
    cursor: pointer;
    position: fixed;
    inset-block-end: 50px;
    inset-inline-end: 20px;
}

.boom {
    font-size: 45px;
    cursor: pointer;
    position: fixed;
    inset-block-end: 20px;
    inset-inline-end: 10px;
    background-color: white; 
    color: black; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: borderChange 2s infinite;
}

.boom:hover {
    background-color: #bfff00;
    color: white;
    animation: backChange 2s infinite;
}

@keyframes borderChange {
    0% { border-color: #ff0000; }
    25% { border-color: #ff6f00; }
    50% { border-color: #f6ff00; }
    75% { border-color: #00ff00; }
    100% { border-color: #3c00ff; }
}

@keyframes backChange {
    0% { background-color: #ff0000; }
    25% { background-color: #ff6f00; }
    50% { background-color: #f6ff00; }
    75% { background-color: #00ff00; }
    100% { background-color: #3c00ff; }
}

.liang {
    animation: shake 1s infinite;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    20% { transform: translateX(-10px); }
    50% { transform: translateX(0); }
    70% { transform: translateX(10px); }
}

.fps {
    font-family: 'Courier New', Courier, monospace;
}

.a{
    color: #66ccff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    animation: textChange 2s infinite;
}

@keyframes textChange {
    0% { color: #00ccff; }
    25% { color: #66ccff; }
    50% { color: #99ccff; }
    75% { color: #99ccff; }
    100% { color: #66ccff; }
}
